@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ROOT */

:root {

    /* Logo */
    --logo-height: 1em;

    /* Color */
    --golden : #c59d5f;
    --lightgold : #ecc68b;
    --lightgold-tp : #ecc58bb7;
    --white :#fff;
    --black : #000;

    /* Transition */
    --smooth : 0.8s;
}

/* SELECTION */

::-moz-selection {
    background-color: var(--black);
    color: var(--white);
}

::selection {
background-color: var(--black);
color: var(--white);
}

/* UNIVERSAL SELECTOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";    
}

/* MENU */
    /* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    width: 100%;
    font-size: 1em;
    position: fixed;
    padding: 2.5em 3em;
    transition: var(--smooth);
    background: rgba(0, 0, 0, 0.6);
}
    /* Logo */

.logo img{
    height: var(--logo-height);
}
    /* Links */

.navbar-links a,
.navbar-links li {
    margin: 0.8em;
    display: inline;
    color: var(--white);
    text-decoration: none;
}

.navbar-links a:hover {
    color: var(--golden);
}

/* MAIN */

main {
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
}

main h1, 
main h2{
    text-transform: uppercase;
}

main h2{
    font-family: "Raleway";
}

main h3 {
    font-style:italic ;
    font-family: 'Times New Roman', Times, serif;
}

main p {
    font-weight: 300;
}

main img {
    width: 100%;
    height: 100%;
    display: block; /* Permet de prendre tout l'espace du bloc pour l'image */
    object-fit: cover;
}

/* QUOTE */

.quote {
    color: var(--white);
    background-color: var(--golden);
    font-size: 2.7em;
    padding: 1.5em;
    line-height: 1.5em; /* Permet de réduire l'interligne */
}

/* GRID */

.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto;
}

#grid-double {
    grid-template-columns: repeat(2, 1fr);
}

#grid-four {
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    display: grid;
    align-items: center;
    padding: 5em;
}

.grid-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-text h2 {
    margin: 0.2em;
    font-size: 3em;
    font-weight: 600;
}

.grid-text p {
    margin: 2em;
}

/* IMAGES */

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-main {
    width: 100%;
    display: block;
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: auto;
}

.overlay-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    background: var(--lightgold-tp);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
    transition: var(--smooth);
}

.overlay-plus i {
    color: white;
    font-size: 6rem;
}

.icon-overlay:hover{
    opacity: 1;
}

.services-container {

    display: flex;
    align-items: center;
    justify-content: center;
}

.services-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    padding: 2em;
}

.services-item:hover h2{
    color: var(--golden);
    transition: var(--smooth);
}

.services-image {
    margin: 20px;
}

.services-text p {
    padding: 0.5em 2em;
}

/* BUTTONS */

.btn {
    cursor: pointer;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    margin: 1.5em 18em;
    text-transform: uppercase;
}

.gold-btn {
    
    border: none;
    font-size: 1em;
    color: var(--white);
    transition: var(--smooth);
    background-color: var(--golden);
}

.gold-btn:hover {
    background-color: var(--lightgold);
}

/* ANIMATIONS */

.scale {
    min-width: 25%;
}

.scale:hover .overlay-plus {
    opacity: 1;
}

/* MAP */

.map iframe{
    width: 100%;
}

/* FOOTER */

.footer {
    background-color: rgb(0, 0, 0);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERIES */


@media only screen and (max-width:960px) {
    #grid-double {
        grid-template-columns: 1fr;
    }
}

