@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ROOT */

:root {

    /* Colors */
    --white :#fff;
    --black : #000;
    --golden : #a7681b;
    --lightgold : #84643e;
    --lightgold-tp : #84653ed5;
    --background : rgba(0, 0, 0, 0.6);

    /* Transitions */
    --smooth: 0.8s ease-in-out;
}

/* SELECTION */

::-moz-selection {
    color: var(--white);
    background-color: var(--black);
}

::selection {
    color: var(--white);
    background-color: var(--black);
}

/* UNIVERSAL SELECTOR */

* {
    margin: 0;
    padding: 0;
    font-family: "Oswald";    
    box-sizing: border-box;
}

/* MENU */
    /* Navbar */

nav {
    z-index: 3;
    width: 100%;
    display: flex;
    padding: 20px;
    position: fixed;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    background: var(--background);
    font-size: clamp(.25rem, 1vw + .5rem, 2rem);
}

/* Logo */

nav h1{
    font-size: clamp(.25rem, 7.5vw + .5rem, 2.5rem);
    color: var(--white);
}

/* Links */

.navbar-socials,
.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-socials li a,
.navbar-links li a{
    text-decoration: none;
}

.navbar-links a {
    margin: 10px;
    color: var(--white);
}

.navbar-links a:hover {
    color: var(--golden);
    transition: var(--smooth);
}

/* Socials */

.navbar-socials a {
    margin: 10px;
}

.Twitter {
    color: var(--white);
}

.Twitter:hover {
    color: transparent;
    background-clip: text;
    transition: var(--smooth);
    -webkit-background-clip: text;
    background: linear-gradient(45deg, #111111, #14171a, #aab8c2, #e1e8ed, #f5f8fa );
}

.Facebook {
    color: var(--white);
}

.Facebook:hover {
    color: transparent;
    background-clip: text;
    transition: var(--smooth);
    -webkit-background-clip: text;
    background: linear-gradient(45deg, #1877f2, #3b5998);
}

.Instagram {
    color: var(--white);
}

.Instagram:hover {
    color: transparent;
    background-clip: text;
    transition: var(--smooth);
    -webkit-background-clip: text;
    background: linear-gradient(45deg, #c32aa3, #4c5fd7, #7232bd, #f46f30, #ffdc7d);
}

/* Burger Menu */

/*  On masque de base le menu mobile pour n'afficher que le menu prévu */
.navbar-menu-mobile {
    display: none;
}

.menu-burger {
    width: 30px;
    height: 20px;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}

.menu-burger .line {
    height: 4px;
    border-radius: 2px;
    background-color: var(--white);
}

.menu-burger:hover .line {
    transition: var(--smooth);
    background-color: var(--golden);
}

/* MAIN */

main {
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
}
 
main h2{
    font-family: "Raleway";
    text-transform: uppercase;
}

main h3 {
    font-style:italic ;
    font-family: 'Times New Roman', Times, serif;
}

main p {
    font-weight: 300;
}

main img {
    height: auto;
    display: block; /* Permet de prendre tout l'espace du bloc pour l'image */
    max-width: 100%;
    object-fit: cover;
}

/* QUOTE */

#quote {
    display: flex;
    padding: 1.5em;
    font-size: 2cqi;
    line-height: 1.5em;
    text-align: center;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--golden);
}

#quote h2 {
    font-family: "Oswald";
}

/* GRID */

.grid-container {
    width: 100%;
    display: grid;
    margin: 0 auto;
}

#grid-double {
    grid-template-columns: repeat(2, 1fr);
}

#grid-four {
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    padding: 5em;
    display: grid;
    align-items: center;
}

.grid-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-text h2 {
    margin: 0.2em;
    font-size: 3em;
    font-weight: 600;
}

.grid-text p {
    margin: 2em 0 0;
    font-size: 1.2em;
}

/* IMAGES */

.image-container {
    width: 100%;
    height: auto;
    position: relative;
}

.image-main {
    width: 100%;
    display: block;
}

.image-overlay {
    top: 50%;
    left: 50%;
    width: 35%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
}

.overlay-plus {
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--lightgold-tp);
    transition: var(--smooth);
}

.overlay-plus i {
    font-size: 6rem;
    color: var(--white);
}

/* BUTTONS */

.btn {
    cursor: pointer;
    padding: 1em;
    margin: 0 40%;
    border-radius: 0.5em;
    text-transform: uppercase;
}

.gold-btn {
    
    border: none;
    font-size: 0.8em;
    color: var(--white);
    background-color: var(--golden);
}

.gold-btn:hover {
    transition: var(--smooth);
    background-color: var(--lightgold);
    box-shadow: 6px 6px 5px #292929 ;
}

/* SERVICES */

.services-container {
    display: flex;
    padding: 1em 15em;
}

.services-item {
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services-item:hover h2 {
    color: var(--golden);
    transition: var(--smooth);
}    

.services-image {
    margin: 20px;
    overflow: hidden;
    position: relative;
}

.services-overlay {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5em;
    background: linear-gradient(0.5turn, var(--white), var(--golden));
}

.services-item:hover .services-overlay {
    opacity: 0.3;
    transition: var(--smooth);
}

.services-text p {
    padding: 0.5em 2em;
}

/* ANIMATIONS */

.scale {
    min-width: 25%;
    overflow: hidden;
}

.scale:hover img{
    transform: scale(1.1);
    transition: var(--smooth);
}

.scale:hover .overlay-plus {
    opacity: 1;
}

.overlay-plus:hover i {
    transform: rotate(360deg);
    transition: var(--smooth);
}

/* PARALLAX */

.parallax {
    z-index: 1;
    height: 40vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-img {
    background-image: url(/img/h5-parallax-img-2.jpg);
}

.parallax-text  {
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    color: var(--white);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.parallax-text h2 {
    font-size: 3em;
    font-weight: 500;
}

.parallax-text p {
    font-style: italic;
}

/* FILLER */

.filler {
    width: 100%;
    height: 50px;
    background: var(--black);
}

/* MAP */

.map-container {
    width: 100%;
    height: auto;
    position: relative;
}

.map-screen {
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background: linear-gradient(#000 10%, #00000000, #000 80%);
}

.map-main  {
    background: #000;
    filter: grayscale(1);
}

.map-container iframe {
    width: 100%;
    filter:invert(1);
}

.map-cursor {
    top: 50%;
    left: 50%;
    z-index: 5;
    position: absolute;
}

.map-cursor img {
    width: 20px;
}

/* FOOTER */

.footer {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

/* MEDIA QUERIES */

/* Smallest screens */

@media only screen and (max-width:324px) {

    nav h1 {
        font-size: clamp(.15rem, 5.5vw + .25rem, 1.25rem);
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu-mobile {
        gap: 10px; /* On ajoute un peu d'espace entre les liens du menu et les réseaux sociaux */        
        top: 70px;
        width: 100%;
        display: none;
        padding: 0 0 20px;
        text-align: center;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--background);
    }

    .navbar-links {
        flex-direction: column;
    }

    .menu-burger {
        display: flex;
    }

    .navbar-menu-mobile.active {
        display: flex;
    }

    #quote h2 {
        font-size: 3em;
        line-height: 1em;
    }

    #grid-double {
        display: flex;
        flex-direction: column;
    }

    #grid-four {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        padding: 20px 0; 
    }

    .grid-text h2 {
        font-size: 1.4em;
    }

    .grid-text h3 {
        font-size: 0.8em;
    }

    .grid-text p {
        font-size: 1em;
        margin: 10px 0;
        padding: 0 20px;
    }

    .btn {
        font-size: 0.5em;
        margin: 0 40%;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

}

/* Smartphones */
@media only screen and (min-width:325px) and (max-width:600px) {

    nav h1 {
        font-size: clamp(.15rem, 5.5vw + .25rem, 1.25rem);
    }
    
    .navbar-menu {
        display: none;
    }

    .navbar-menu-mobile {
        gap: 10px; /* On ajoute un peu d'espace entre les liens du menu et les réseaux sociaux */        
        top: 70px;
        width: 100%;
        display: none;
        padding: 0 0 20px;
        text-align: center;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--background);
    }

    .navbar-links {
        flex-direction: column;
    }

    .menu-burger {
        display: flex;
    }

    .navbar-menu-mobile.active {
        display: flex;
    }

    #quote h2 {
        font-size: 3em;
        line-height: 1em;
    }

    #grid-double {
        display: flex;
        flex-direction: column;
    }

    #grid-four {
        display: flex;
        flex-direction: column;
    }

    .grid-item {
        padding: 20px 0; 
    }

    .grid-text h2 {
        font-size: 1.4em;
    }

    .grid-text h3 {
        font-size: 0.8em;
    }

    .grid-text p {
        font-size: 1em;
        margin: 10px 0;
        padding: 0 20px;
    }

    .btn {
        font-size: 0.8em;
        padding: 0.2rem;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

}

/* Small screens */
@media only screen and (min-width:601px) and (max-width:768px) {

    nav h1 {
        font-size: clamp(.15rem, 5.5vw + .5rem, 1.25rem);
    }

    nav a {
        font-size: 1.2em;
    }

    .navbar-menu {
        display: none;
    }


    .navbar-menu-mobile {
        gap: 10px; /* On ajoute un peu d'espace entre les liens du menu et les réseaux sociaux */        
        top: 70px;
        width: 100%;
        display: none;
        padding: 0 0 20px;
        text-align: center;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: var(--background);
    }

    .navbar-links {
        flex-direction: column;
    }

    .menu-burger {
        display: flex;
    }

    .navbar-menu-mobile.active {
        display: flex;
    }

    #grid-double {
        display: flex;
        flex-direction: column;
    }

    #grid-four {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-text h2 {
        font-size: clamp(.25rem, 5.5vw + .5rem, 2rem);
    }

    .grid-text h3 {
        font-size: clamp(.15rem, 5.5vw + .5rem, 1.25rem);
    }

    .grid-text p {
        padding: 0 20px;
        margin: 10px 0;
        font-size: clamp(.10rem, 10vw + .5rem, 1rem);
    }

    .grid-text {
        margin-bottom: 20px;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .parallax {
        height: 20vh;
    }
}


/* Small screens */
@media only screen and (min-width:769px) and (max-width:1079px) {

    nav h1 {
        font-size: clamp(.15rem, 5.5vw + .5rem, 1.25rem);
    }

    #grid-double {
        display: flex;
        flex-direction: column;
    }

    #grid-four {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-text h2 {
        font-size: clamp(.25rem, 5.5vw + .5rem, 2rem);
    }

    .grid-text h3 {
        font-size: clamp(.15rem, 5.5vw + .5rem, 1.25rem);
    }

    .grid-text p {
        padding: 0 20px;
        margin: 10px 0;
        font-size: clamp(.10rem, 10vw + .5rem, 1rem);
    }

    .grid-text {
        margin-bottom: 20px;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .parallax {
        height: 20vh;
    }
}

/* Medium + screens */
@media only screen and (min-width:1080px) and (max-width:1460px){

    nav h1 {
        font-size: clamp(.15rem, 5.5vw + .5rem, 1.25rem);
    }

    .grid-item {
        padding: 2.5em;
    }

    .grid-text h2 {
        
        font-size: clamp(.25rem, 5.5vw + .5rem, 2rem);
    }

    .grid-text h3 {
        font-size: clamp(.15rem, 5.5vw + .5rem, 1.25rem);
    }

    .grid-text p {
        padding: 0 20px;
        margin: 10px 0;
        font-size: clamp(.10rem, 10vw + .5rem, 1rem);
    }

    .btn {
        padding: 0.5em;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .parallax {
        height: 20vh;
    }
}

@media only screen and (min-width:1461px) {
    .menu-burger {
        display: none;
    }


}